<td class="nested-fields">
    <%= f.text_field :name, required: true, class: "form-control" %>
</td>
<td class="nested-fields">
    <%= f.number_field :price, required: true, class: "form-control" %>
</td>
<td><%= link_to_remove_association "Remove", f %></td>